@font-face {
  font-family: "openSans";
  src: url("./fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "openSans";
  src: url("./fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "lobster";
  src: url("./fonts/Lobster-Regular.ttf");
  font-weight: normal;
}

:root {
  --mainBlue: #2323a1;
  --lightBlue: #2aa7e0;
  --mainWhite: #d6d6d6;
  --mainDark: #232528;
  --mainYellow: #a17c00;
}

body {
  font-family: "openSans" !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "lobster";
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}
